# Database
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

# Authentication
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Email (Brevo)
BREVO_API_KEY=
BREVO_SENDER_EMAIL=your-verified@email.com
BREVO_SENDER_NAME=Muhammad Taha
CONTACT_EMAIL=

# Storage (Vercel Blob)
BLOB_READ_WRITE_TOKEN=

# GitHub
GITHUB_TOKEN=
GITHUB_USERNAME=

# App
NEXT_PUBLIC_SITE_URL=http://localhost:3000
